form{
    box-sizing: border-box;
    text-align: center;
}

input{
    padding:8px ;
    margin:8px ;
    width: 600px;
}
label{
    font-weight: bolder;
}
.submit {
display: block;
margin: auto;
padding: 8px;
background-color: rgb(103, 103, 232);
font-size: 20px;
}
.form-controls{

border: 1px solid gray;
padding: 15px;
padding-bottom: 10px;

box-shadow: 0px 1px 5px 5px #888888;
}
.header-control{
    padding: 10px;
    margin-top: 30%;
    margin-bottom: 30px;
    margin-left: 120px;
}
.formik-button{
    background-color: rgb(101, 101, 226);
    margin-right: 12px;
    border-radius: 24px;
    padding: 10px;
    font-size: 18px;
}
.simple-button{
    background-color: rgb(101, 101, 226);
    margin-right: 12px;
    border-radius: 24px;
    padding: 10px;
    font-size: 18px;
}
.final-button{
    background-color: rgb(101, 101, 226);
    margin-right: 12px;
    border-radius: 24px;
    padding: 10px;
    font-size: 18px;
}
p{
    font-size: 22px;
   font-weight: bolder;
    margin-left: 30%;
}
.error-msg{
    color:red;
}